html {
	font-family: Helvetica;
}

body {
	background-color: #d2efdb;
	text-align: center;
}

.title {
	background-color: #89bc84;
	padding: 3%;
}

h1 {
	font-size: 40px;
	font-style: italic;
	color: white;
}

.instructions {
	padding: 3%;
}

#first {
	display: table;
	margin: auto;
	font-size: 16px;
	border: 2px solid grey;
	border-radius: 15px;
	padding: 8px;
}

#second {
	display: table;
	margin: 20px auto;
	font-size: 16px;
	border: 2px solid grey;
	border-radius: 15px;
	padding: 8px;
}
.entry-form {
}

#add {
	border-radius: 15px;
	border: none;
	width: 45%;
	height: 30px;
	font-size: 15px;
	color: grey;
	text-align: center;
	box-shadow: none;
}

.strike {
	text-decoration: line-through;
}

.text {
	display: table;
	margin: 20px auto;
	border-radius: 15px;
	border: none;
	background-color: #B0C4DE;
	width: 30%;
	height: 25px;
	font-size: 20px;
	font-family: "Brush Script MT", cursive;
	text-align: center;
	box-shadow: none;
	margin-top: 17px;
	padding-top: 8px;
}
